<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css') }}">
    <title>Codex</title>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <h1 class="title">CODEX</h1>
            <h1 class="subtitle">We code. We explore</h1>
        </div>
        <br>
        <br>
        <div class="inputform">
            <h2 class="subtitle">Please wait while your Code Compiles</h2>
            <br>
            <div class="subtitle"id="time"></div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var timeLeft = 60;
    var elem = document.getElementById('time');
    var timerId = setInterval(countdown, 1000);

    function countdown() {
        if (timeLeft == -1) {
            clearTimeout(timerId);
            doSomething();
        } else {
            console.log(timeLeft)
            elem.innerHTML = timeLeft + ' seconds remaining';
            timeLeft--;
        }
    }

    function doSomething() {
        alert("Hi");
    }
</script>
</html>